/* Base styles */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

hr {
    width: 70px;
    border: 1px solid #007bff;
    border-bottom: 0;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 20px;
    transition: all 0.3s;
    display: inline-block;
    background-color: transparent;
    margin: auto;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #007bff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-header {
    margin-bottom: 75px;
}

.section-header h2 {
    color: #333;
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: 400;
}

/* Header styles */

.main-header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    color: #007bff;
    margin: 0;
}

.main-header-content p {
    font-size: 1.3em;
    color: #333;
    margin: 40px 0;
}

.main-header-content span {
    color: #007bff;
}


/* Main menu styles */

.menu {
    background-color: #007bff;
}

.menu ul {
    margin: 0;
    padding: 10px 0;
}

.menu ul .menu-item {
    display: inline-block;
    margin: 0 10px;
}

.menu ul .menu-item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 14px 20px;
    display: block;
    transition: all .3s;
}

.menu ul .menu-item a:hover {
    color: #007bff;
    background-color: white;
}

label[for="drop-nav"],
#drop-nav {
    display: none;
}


/* Section about styles */


.about .about-img {
    border-radius: 50%;
}

.about p {
    max-width: 700px;
    color: #333;
    margin: 40px auto 30px auto;
}


/* Portfolio section styles */

#portfolio {
    background-color: #f2f1ed;
}



.portfolio-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.portfolio-wrapper .portfolio-item {
    flex-basis: 25%;
    height: 200px;
    position: relative;
}

.portfolio-wrapper .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-wrapper .portfolio-item h3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #007bff;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    color: white;
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    line-height: 200px;
}

.portfolio-wrapper .portfolio-item h3:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Contact section styles */

.contact form {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto 30px auto;

}

.contact input[type="text"],
.contact input[type="email"] {
    flex-basis: 48%;
    margin-bottom: 15px;
    padding: 15px;

}

.contact textarea {
    flex-basis: 100%;
    margin-bottom: 15px;
    padding: 15px;
    height: 100px;
}

.text-l {
    text-align: left;
}

.icons {
    margin-top: 75px;
    height: 70px;
}

.icons .social-link {
    font-size: 2.5em;
    color: #007bff;
    transition: all .3s;
    margin: 0 20px;
    display: inline-block;
}

.icons .social-link:hover {
    color: #333;
}

/* Footer styles */

.main-footer {
    background-color: #f2f1ed;
    color: #333;
    padding: 30px;
}

/* Responsive styles */

@media all and (max-width: 1199px) {
    .container {
        max-width: 992px;
    }
}

@media all and (max-width: 991px) {
    .container {
        max-width: 768px;

    }

    .portfolio-wrapper .portfolio-item {
        flex-basis: 50%;
    }
}

@media all and (max-width: 767px) {
    .container {
        max-width: 95%;
    }

    .portfolio-wrapper .portfolio-item {
        flex-basis: 100%;
    }
}

@media all and (max-width: 480px) {
    .main-header h1 {
        font-size: 3em;
    }

    .about .about-img {
        max-height: 200px;
        max-width: 200px;
    }

    .contact input[type="text"],
    .contact input[type="email"] {
        flex-basis: 100%;
    }

    label[for="drop-nav"] {
        display: block;
        padding: 14px 20px;
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: right;
        cursor: pointer;
    }

    .menu ul {
        display: none;
    }

    #drop-nav:checked+ul {
        display: block;
    }

    .menu ul .menu-item {
        display: block;
        text-align: right;
        margin: 0;
    }

}